* {
  margin: 0;
}

/* NAVIGATION BAR */

.nav {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  background-color: #000;
  opacity: 0.8;
  width: 100vw;
  position: fixed;
}

.nav a {
  margin: 20px;
  text-decoration: none;
  color: #fff;
}

/* HOME PAGE */

.home-page {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.backdrop-image {
  opacity: 0.25;
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}
